body, html {
    font-family: 'Poppins', sans-serif;
    background-color: #212121;
    color: white;
    margin: 0px;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 25px;
    color: #A8A8A8;
}

.page {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    margin-left: 15%;
    padding-top: 15%;
}

#projects {
    display: none;
}

#skills {
    display: none;
}

#title {
    padding-top: 15%;
    width: 50%;
}

#navbar {
    float: right;
    padding: 25px;
    padding-right: 50px;
}

#github {
    width: 40px;
}

a {
    text-decoration: none;
}

.selected {
    text-decoration: underline #EB59A7;
}


/* TODO: COMBINE BELOW 3 INTO A SINGLE PARENT TYPE */
#proficient {
    display: inline-block;
    font-size: 25px;
    color: #A8A8A8;
}

#proficient span {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 15px;
    color: #EB59A7;
}

#familiar {
    display: inline-block;
    font-size: 25px;
    color: #A8A8A8;
}

#familiar span {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 15px;
    color: white;
}

#learning {
    display: inline-block;
    font-size: 25px;
    color: #A8A8A8;
}

#learning span {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 15px;
    color: rgb(167, 167, 167);
}

.project-image {
    width: 100px;
    min-width: 100px;
    border-radius: 15px;
}

.project-image-github {
    width: 75px;
    min-width: 75px;
    border: 3px solid gray;
    padding: 14px;
    border-radius: 15px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}

.project p {
    margin: 0px;
}

.project-title {
    color: white;
}

.project-text-wrapper {
    float: left;
    margin-left: 35px;
}

.spacer {
    height: 250px;
}

.pretty-bar {
    position: fixed;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(235,89,167,1) 0%, rgba(9,9,121,1) 35%, rgba(4,189,177,1) 68%, rgba(235,89,167,1) 100%);
}

#top {
    top: 0;
    left: 0;
}

#bottom {
    bottom: 0;
    left: 0;
}

.nav-element:hover {
    text-decoration: underline #551A8B;
    transform: translate(120px, 50%);
}